@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@layer components {
    .pill {
        background-color: var(--pill);
        color: var(--pill-foreground);
        border: 1px solid var(--border);
    }
}

@theme {
    --color-background: #171618;
    --color-card: #1e1d20;

    --color-accent: #6a54fd;
    --color-accent-alt: #11e5b3;
    --color-accent-600: #5b48df;

    --color-text-muted: #8c8eab;

    --color-dark-200: #2f2c3b;
    --color-dark-450: #1d1c22;
    --color-dark-500: #16151a;

    --color-light-300: #d3d1d4;
    --color-light-800: #8c8eab;

    --font-body: "Nunito", sans-serif;
    --font-headings: "Lexend", sans-serif;
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        @apply border-dark-200;
    }
}

[hidden] {
    display: none !important;
}

.text-heading {
    color: light-dark(#000, var(--light-100, var(--foreground)));
}

/* navbar */

html:not([data-scroll="0"]) .navbar,
html:not([data-scroll]) .navbar {
    @apply bg-card;
}

html:not([data-scroll]) .navbar {
    @apply bg-transparent;
}

svg[height="0"][aria-hidden="true"] {
    position: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headings);
}
svg[height="0"][aria-hidden="true"] {
    position: fixed;
}
.noise {
    filter: url(#grain);
    clip-path: inset(0);
}
.copy {
    display: grid;
    align-content: start;
    gap: 1rem;
    color: var(--foreground);
    font-size: 1.125rem;
    line-height: 1.5rem;

    :where(h1):not(:where([class~="not-copy"], [class~="not-copy"] *)) {
        font-weight: 500;
        font-size: 2.25rem;
        line-height: 2.5rem;
        margin-top: 1.5rem;
    }
    :where(h2):not(:where([class~="not-copy"], [class~="not-copy"] *)) {
        font-weight: 500;
        font-size: 1.875rem;
        line-height: 2.25rem;
        margin-top: 1.5rem;
    }
    :where(h3):not(:where([class~="not-copy"], [class~="not-copy"] *)) {
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2rem;
        margin-top: 1.5rem;
    }
    :where(h4):not(:where([class~="not-copy"], [class~="not-copy"] *)) {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.75rem;
        margin-top: 1.5rem;
    }
    :where(ol):not(:where([class~="not-copy"], [class~="not-copy"] *)) {
        li {
            counter-increment: BodyListCounter;
            position: relative;
            margin: 0 2.5rem;
            &:not(:first-child) {
                margin-top: 0.5rem;
            }
            &::before {
                position: absolute;
                top: 1px;
                left: -36px;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                border: 1px solid var(--color-secondary);
                content: "";
            }
            &::after {
                position: absolute;
                top: 1px;
                left: -36px;
                width: 24px;
                line-height: 24px;
                font-weight: 600;
                color: var(--color-secondary);
                text-align: center;
                content: counter(BodyListCounter);
                font-size: 0.725rem;
            }
        }
    }
    :where(ul):not(:where([class~="not-copy"], [class~="not-copy"] *)) {
        li {
            position: relative;
            margin: 0 2.5rem;
            &:not(:first-child) {
                margin-top: 0.5rem;
            }
            &::before {
                position: absolute;
                top: 9px;
                left: -28px;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: var(--color-secondary);
                content: "";
            }
        }
    }
}

.hoverArrow {
    --arrowSpacing: 5px;
    --arrowHoverTransition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
    --arrowHoverOffset: translateX(3px);
    --arrowTipTransform: none;
    --arrowLineOpacity: 0;
    position: relative;
    margin-left: var(--arrowSpacing);
    stroke-width: 2px;
    fill: none;
    stroke: currentcolor;
}
.hoverArrow__linePath {
    opacity: var(--arrowLineOpacity);
    transition: opacity var(--hoverTransition, var(--arrowHoverTransition));
}
.hoverArrow__tipPath {
    transform: var(--arrowTipTransform);
    transition: transform var(--hoverTransition, var(--arrowHoverTransition));
}

.hoverArrow__linePath {
    @apply group-hover:[--arrowLineOpacity:1];
}
.hoverArrow__tipPath {
    @apply group-hover:[--arrowTipTransform:var(--arrowHoverOffset)];
}

:is(pre *):is(.shiki *):not(.not-fumadocs-codeblock *) {
    .line {
        &::before {
            content: counter(step);
            counter-increment: step;
            width: 1rem;
            margin-right: 1.5rem;
            display: inline-block;
            text-align: right;
            color: var(--color-border);
        }
    }
}

code {
    counter-reset: step;
    counter-increment: step 0;
}
